*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
  height: 100%; 
  overflow: hidden; /* avoids scrolling */ 
}
body{
  background-color: #91d1f8;
}

h1{
  /* color: mediumaquamarine; */
  color: rgb(91, 207, 207);
  font-size: 5.6rem;
  text-shadow: 2px 2px 4px navy;
}


p{
  color: navy;
  font-size: 1.2rem;
}
img{
  max-width: 100%;
}

.seach-bar{
  text-align: center;
  border: 4px solid navy;
  background-color: rgba(255, 195, 0, 0.7);
  border-radius: 15px;
  box-shadow: 2px 2px 6px rgb(52, 52, 97);
  padding: 3vh;
  margin: 2vh 14vw;
}
input{
  border: 2px solid navy;
  border-radius: 6px;
  padding: 12px;
  background-color: rgba(242, 245, 247, 0.941);
}

input::placeholder { 
  color: #91d1f8;  
  opacity: 1; }

button{
  padding: 10px 16px;
  margin-left: 10px;
  border: 2px solid navy;
  border-radius: 6px ;
  background-color: rgb(91, 207, 207);
  color: white;
  font-size: 1rem;
}

.weather-card__wrapper{
  border:  1px solid rgb(91, 207, 207) ;
  border-radius: 12px;
  padding: 3vh 10vw;
  background-image: url(/weather-icons/cartoon-cloud-sky-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh 2vh);
  margin: 2vh 2vw;
}
.weather-card{
  border: 4px solid navy;
  border-radius: 12px;
  padding: 4vh 8vw;
  background-color: white;
  /* hinzugefügt */
  max-width: 600px;  
  text-align: center; overflow: hidden; 
  margin: 0 auto;
}

.temperature-display{
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature-display h2{
  color: navy;
  text-shadow: 2px 2px 4px lightblue;
  font-size: 6rem;
}
.weather-icon { 
  width: 250px; 
  /* width: 350px;  */
  height: auto; /* Höhe wird automatisch skaliert, um Seitenverhältnis beizubehalten */ 
  margin-left: 10px; 
}

.info{
  font-size: 1.8rem;
  color: rgb(91, 207, 207);
  text-shadow: 1px 1px 2px navy;
}

.wind , .sun-status{
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 6px;
}

/* start view headline bounce effect */
 @keyframes fallAndBounce { 
  0% { transform: translateY(0);
   } 
   25% { transform: translateY(60vh);
   } 
   50% { transform: translateY(40vh);
   } 
   75% { transform: translateY(50vh); 
  } 
  100% { transform: translateY(60vh);
   } } 
  .fall-and-bounce { 
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    display: inline-block; 
    animation: fallAndBounce 4s ease-out infinite; }

    /* nightsky sunset mode */

    .sunset-mode .seach-bar {
      background-color: rgb(111, 2, 111);
    }

     .sunset-mode h1, .sunset-mode p, .sunset-mode input::placeholder {
      color: rgb(73, 6, 112); 
    }
    
    .sunset-mode .weather-card {
      background-color: white; 
      border-color: rgb(94, 7, 144); 
    }
    
    .sunset-mode input {
      background-color: #95a5a6; 
      border-color: #7f8c8d; 
    }
    
    .sunset-mode button {
      background-color: #7f8c8d; 
      border-color: #95a5a6; 
    }
    body.sunset-mode { 
      background-color: #0f0418;
   }

    .sunset-mode .weather-card__wrapper { 
      background-image: url('/public/weather-icons/nightsky.png'); 
      border-color: rgb(94, 7, 144) }